/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* apply a natural box layout model to all elements */
*, *::before, *::after, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* inputs */
input, button, textarea, select {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-padding-start: 0;
  align-items: flex-start;
  text-index: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1em;
}

/* inputs appearance (not for every input)  */
input[type=text], input[type=reset], input[type=password], input[type=search], input[type=email], input[type=tel], input[type=url], input[type=time], input[type=week], input[type=month], input[type=date], input[type=datetime], input[type=datetime-local], input[type=number],
input[type=submit], input[type=reset], input[type=color], input[type=file],
button, textarea, select {
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* input color width */
input[type=color] {
  width: 1em;
}

/* IE clear cross */
input::-ms-clear {
  display: none;
}

/* details and summary */
details, summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* text size adjusting */
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* mark */
mark {
  background: none;
}

/* Font smoothing */
/**,*::before,*::after,*:before,*:after {
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}*/
/* hr */
hr {
  height: 1px;
  margin: 0;
  padding: 0;
}

/* u */
u {
  text-decoration: none;
}

/* th */
table th {
  text-align: left;
}

/* a */
a {
  color: inherit;
  outline: none;
}

body {
  font-family: sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

header {
  background-color: #EB606D;
  border-bottom: 1px solid #e4e4e4;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  width: 90%;
}
header .container .header_logo {
  margin: 0% 2% 0% 2%;
  display: flex;
  justify-items: center;
  align-items: flex-start;
}
header .container .header_logo .header_logo_img {
  width: 32px;
}
header .container .header_search:focus-within {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
header .container .header_search {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  background-color: #ffffff;
  height: 48px;
  display: flex;
  justify-items: center;
  align-items: center;
}
header .container .header_search svg {
  width: 12% !important;
  color: #484848;
}
header .container .header_search input {
  width: 88% !important;
  background-color: #ffffff;
}
header .container .header_search input ::placeholder {
  color: #686868;
  font-weight: 700;
}
header .container .header_nav {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px;
}
header .container .header_nav ul {
  display: flex;
  justify-content: space-between;
}
header .container .header_nav ul li a {
  text-decoration: none;
}

.arrow {
  box-sizing: border-box;
  height: 1vw;
  width: 1vw;
  border-style: solid;
  border-color: black;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  transition: all linear;
  animation: menuMove 0.5s ease-in-out infinite alternate;
  position: absolute;
}

@keyframes menuMove {
  from {
    transform: translateY(0px) rotate(45deg);
  }
  to {
    transform: translateY(-8px) rotate(45deg);
  }
}
.main_search_background {
  background-image: url("../images/background_advanced_filtrers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main_search_background .search_select_all .search_select-hidden {
  display: none;
}
.main_search_background .search_select_all .search_select-block {
  position: absolute;
  bottom: -50px;
  display: block !important;
  height: 80px;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #EBEBEB;
}

.main_search {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #EBEBEB;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 3px;
}
.main_search .main_search_event {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #EBEBEB;
  border-radius: 3px;
  background-color: #ffffff;
  height: 48px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.main_search .main_search_event input {
  width: 88% !important;
  background-color: #ffffff;
}
.main_search .main_search_event input ::placeholder {
  color: #686868;
  font-weight: 700;
}
.main_search .main_search_event svg {
  margin-left: 1%;
  margin-right: 1%;
  width: 5% !important;
  color: #484848;
}
.main_search .main_search_container {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}
.main_search .main_search_container .search_filter {
  width: 100%;
  display: flex;
  align-items: center;
  border-right: 0.5px solid #EBEBEB;
}
.main_search .main_search_container .search_filter_container {
  display: flex;
  align-items: center;
  height: 80px;
  width: 80%;
}
.main_search .main_search_container .search_filter_container .search_filter_emoji {
  font-size: 20px;
  margin-left: 10%;
  margin-right: 5%;
}
.main_search .main_search_container .search_filter_container p {
  font-size: 1rem;
}
.main_search .main_search_container .search_filter:last-of-type {
  border-right: 0px solid #EB606D;
}

@media screen and (max-width: 900px) {
  .arrow_container {
    display: none;
  }
  .arrow_container .arrow {
    display: none;
  }

  .main_search_container .search_filter {
    flex-direction: column;
  }
  .main_search_container .search_filter .search_filter_container {
    flex-direction: column;
  }
  .main_search_container .search_filter .search_filter_container .search_filter_emoji {
    font-size: 20px;
    margin: 0 auto;
    animation: menuMove 0.5s ease-in-out infinite alternate;
  }
  .main_search_container .search_filter .search_filter_container p {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 2%;
  }
}

/*# sourceMappingURL=style.css.map */
