.arrow {
    box-sizing: border-box;
    height: 1vw;
    width: 1vw;
    border-style: solid;
    border-color: $black;
    border-width: 0px 2px 2px 0px;
    border-radius: 0px 0px 2px 0px;
    transform: rotate(45deg);
    transition: all linear;
    animation: menuMove 0.5s ease-in-out infinite alternate;
    position: absolute;

}
@keyframes menuMove {
    from {
        transform: translateY(-10px) rotate(45deg);
    }
  
    to {
        transform: translateY(-8px) rotate(45deg);

    }
}

.main_search_background {
    background: url("../images/background_advanced_filtrers.jpg") no-repeat;
    background-size: cover;
    min-height: 300px;
    height: 30%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .search_select_all {
        
        display: flex;  
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        margin-top: 10px;
        width: 100%;


        .search_select-hidden {
            display: none;
            color: $white;
        }
        .search_select-block {
            
            display: flex;  
            justify-content: space-around;
            align-items: center;
            width: 90%;
            height: 40px;
            background: $white;
            color: black;
            border-radius: 15px;
            border: 1px solid $border;
            
            form
            {
                display: flex;
            }
            .select-submit {
                color: $main-color;
            }
            form {
                display: flex;  
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 50%;
                border-bottom: 1px solid $border;
            }
        }
    }
}
.main_search {
    width: 90%;
    margin: 0 auto;
    background-color: $white;
    border-radius: 15px;

    .main_search_event {
        border-bottom: 1px solid $border;
        border-radius: 15px 15px 0px 0px;
        background-color: $white;
        height: 48px;
        display: flex;
        justify-items: center;
        align-items: center;
        height: 80px;

        input {
            width: 88% !important;
            background-color: $white;
            font-size: 1.5rem;
            padding: 20px;
            padding-left: 10px;

            ::placeholder {
                color: $grey;
                font-weight: 700;
            }
        }
        svg {
            margin-left: 10px;
            width: 5% !important;
            color: $font-grey;
        }
    }
    .search_filter_container {
        display: flex;  
        justify-content: space-around;
        max-width: 100%;
        
        .search_filter {
            width: 100%;
            display: flex;
            align-items: center;
            border-right: 0.5px solid $border;    
        }
        .search_filter_type {
            display: flex;
            align-items: center;
            height: 80px;
            width: 80%;
            
            .search_filter_emoji {
                font-size: 20px;
                margin-left: 10%;
                margin-right: 5%;
            }
            p {
                font-size: 1rem;
            }
        }      
        .search_filter:last-of-type {
            border-right: 0px solid $main-color;    
        }
    }
}

 
.event_container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin: 0 auto;
    width: 90%;
    
    .event_card {
        border: 1px solid $border;
        width: 300px;
        height: 350px;
        text-align: center;
        font-size: 0.9rem;
        p {
            text-align: left;
        }
        .card_first_part {
            
            img {
                width: 100%;
            }
        }
        .card_second_part {
            display: flex;
            justify-content: space-between;
            padding:10px;
            border-bottom: 1px solid $border;

            .card_date_grey {
                color: grey;
            }

        }
        .card_third_part {
            display: flex;
            justify-content: space-between;
            padding:10px;

        }
    }
}

@media screen and (max-width: 900px) {

    .arrow_container {
        display: none;

        .arrow {
           display: none;

        }
    }
    .search_filter_container 
    {

        .search_filter {
            flex-direction: column;
            
            .search_filter_type {
                flex-direction: column;
                justify-content: space-around;

                .search_filter_emoji {
                    font-size: 20px;
                    margin: 0 auto;
                    animation: menuMove 0.5s ease-in-out infinite alternate;

                }
                @keyframes menuMove {
                    from {
                        transform: translateY(8px);
                    }
                  
                    to {
                        transform: translateY(6px);
                
                    }
                }
                p {
                    text-align: center;
                    font-size: 0.8rem;
                    margin-bottom: 2%;
                }
            }
        }
    }
}
