// color variable
$main-color: #EB606D;
$white: #ffffff;
$bottom-grey: rgb(228, 228, 228);
$font-grey:#484848;
$grey: #686868;
$shadow-grey: rgba(0,0,0,0.1);
$shadow-grey-dark: rgba(0,0,0,0.4);
$black: black;

$border: #EBEBEB;

* {
    box-sizing: border-box
}


@font-face {
    font-family: 'Singulier Bold';
    src: url("../fonts/Singulier-Bold.otf");
}

@font-face {
    font-family: 'Singulier Demi';
    src: url("../fonts/Singulier-Demi.otf");
}

@font-face {
    font-family: 'Singulier Thin';
    src: url("../fonts/Singulier-Thin.otf");
}

@font-face {
    font-family: 'Singulier Light';
    src: url("../fonts/Singulier-Light.otf");
}

@font-face {
    font-family: 'Singulier Regular';
    src: url("../fonts/Singulier-Regular.otf");
}

body {
    margin: 0;
    padding:0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Singulier Regular';
}


.main {
    width: 100vw;
    height: 100vh;
    padding:0;
    margin:0;
}

.banner {
    display: flex;
    width: 100%;
    height: 400px;
}

.img-banner {
    flex: 0.8;
    height: 100%;
    object-fit: cover;
}

.content-speed-desc {
    flex:0.2;
    background:#f8f8f8;
}


.content-name-event {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: 800;
    text-align: center;
}

.mt-2 {
    margin-top:20px;
}

.mt-4 {
    margin-top:40px;
}

.price {
    font-weight: 800;
    font-size: 20px;
}

.content-name-event, .content-place-event, .content-date-event, .content-genre-event {
    height:25%;
}

.content-place-event, .content-date-event, .content-genre-event {
    padding-left:15px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-place-event, .content-genre-event{
    background:#f0f0f0cc;
}

.tab-categorie {
    padding:10px;
    color:#fff;
    background:#EB606D;
    border-radius:5px;
    font-size:14px;
    font-weight:800;
    display:inline-block;
}

h3 {
    font-weight: 600;
    font-size: 1.2em;
    text-transform:uppercase;
    margin-bottom: 10px;
}

.button-click {
    z-index: 1111;
    bottom:20px;
    left:20px;
    font-size:30px;
}

.content-right {
    position:fixed;
    top:0;
    right:0;
    width:80px;
    bottom:0;
    background:#fff;
    z-index: 11;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.content-category {
    width:100%;
    display:flex;
    justify-content: space-around;
    flex-direction:column;
    align-items: center;
    height:40%;
}

.title-category {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: -10px;
    letter-spacing: 0px;
    text-align: center;
    padding-bottom: 20px;
}

.round-color {
    height:50px;
    width:50px;
    border-radius:50%;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:.5s ease-in-out;
    transform:translateY(-50%);
    opacity:1;
}

.container {
    width:1140px;
    margin:0 auto;
}

.content-information {
    flex:1;
    display:flex;
    justify-content:space-between;
}

.box {
    padding: 30px;
    flex: 0.48;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 4px rgba(67, 67, 67, 0.04);
    margin-bottom:50px;
}

.flex {
    display:flex;
}

.map {
    width: 95%; height: calc(100vh - 80px); position:absolute;top:80px;left:0;right:80px;
}

.hidden {
    transform:translateY(-50%);
    opacity:0;
}

.space-between {
    justify-content:space-between;
}

.content-img {
    flex:1;
    margin-bottom:50px;
}

.long-box {
    padding: 30px;
    flex: 1;
    background: #fff;
    margin:0px 0 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 4px rgba(67, 67, 67, 0.04);
}

p {
    letter-spacing: .4px;
    line-height: 1.4;
    font-weight: 100;
    margin-bottom:20px;
}

.round-color.green {
    background:#1ee494;
}

.round-color.red {
    background:#fd5959;
}

.round-color.blue {
    background:#29abe2;
}

.round-color.yellow {
    background:#ffc639;
}

.svg-white {
    height: 30px;
}

.gray {
    background:#f9F9F9;
    padding:50px 0;
}

.title-box {
    text-transform:uppercase;
    font-weight:800;
    margin-bottom:15px;
    font-size:14px;
    color: #ff6b7c;
    font-family: "Singulier Bold";
}

.adress-place {
    padding-top:10px;
    font-family:"Singulier Demi";
}

.rating-place-gray {
    padding-top:10px;
    color:#7f7f7f;
}

.rating-place {
    padding-top:10px;
}

.rating-place-top {
    font-size: 20px;
    font-family: "Singulier Demi";
    padding-top:14px;
}

.img-responsive {
    width:100%;
}

.social-network {
    display:flex;
    justify-content:space-between;
}

.wrap {
    flex-wrap:wrap;
    justify-content: space-between;
}

.img-place {
    width:100%;
    height: 200px;
    object-fit: cover;
}

.icon-name {
    width:25px;
}

.box.auto {
    flex:inherit;
    width: 30%;
}

.big-title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-family: "Singulier Demi";
    color: #494949cc;
}
div.full {
    width:100%;
}

.full a {
    font-weight: bold;
    font-size: 15px;
    font-family: 'Singulier Regular';
}

.img-event {
    max-width:400px;
}