header {
    background-color: $white;
    border-bottom: 1px solid $bottom-grey;
    position:relative;
    z-index:11111;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        

        .header_logo {
            margin: 0% 2% 0% 2%;
            display: flex;
            justify-items: center;
            align-items: space-between;
    
    
            .header_logo_img {
                width: 50px;
                height:100%;
            }
        }
        .header_search:focus-within {
            /*box-shadow: 0 2px 4px $shadow-grey-dark;*/
        
            
        }
        .header_search {
            border: 1px solid $border;
            border-radius: 3px;
            background-color: #ebebeb;
            height: 48px;
            display: flex;
            justify-items: center;
            align-items: center;
            border-radius: 30px;

            
        svg {
            width: 12% !important;
            color: $font-grey;
    
        }
        input {
            width: 80% !important;
            background-color: #ebebeb;

            ::placeholder {
                color: $grey;
                font-weight: 700;
            }

        }

        

    }
        
        .header_nav {
            color: black;
            font-size: 15px;
            font-weight: 500;
            margin:0% 2% 0% 2%;
            
            ul {
                display: flex;
                justify-content: space-between;
                    li.active {
                        background:$main-color;
                        color:#fff;   
                        a {
                            font-family: "Singulier Demi"; 
                        }
                    }
                    li {
                        padding:12px 15px;
                        margin:0px 5px 0;
                        border-radius:25px;
                        transition:.4s ease-in-out;
                        &:hover {
                            background:$main-color;
                            color:#fff;   
                        }
                        a {
                            text-decoration: none;
                            padding:15px 15px;
                            font-size:16px;
                            font-family:"Singulier Regular";
                        }
                }
            }
        }
    }
}
