.content-banner-home {
    flex:0.5;
    margin-top:40px;
}

.img-banner-home {
    width:100%;
}

.center-all {
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex:0.5;
    margin-top:200px;
    > div {
        width:70%;
    }
}

h1 {
    color: $main-color;
    font-size: 60px;
    font-family: "Singulier Bold";
    letter-spacing: -0.3px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

p.home {
    line-height:1.7;
    letter-spacing:0.5px;
}

.first-button {
    background:$main-color;
    margin-top:20px;
    padding:15px 20px;
    border-radius:25px;
    box-shadow: 0px 0px 11px #00000033;
    font-family:"Singulier Demi";
    a {
        color:#FFF;
        text-decoration:none;
    }
}

.second-button {
    color:#5a5a5a;
    margin-top:20px;
    padding:18px 10px 0 30px;
    font-family:"Singulier Demi";
    a {
        text-decoration:none;
    }
}