/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* apply a natural box layout model to all elements */
*, *::before, *::after, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* inputs */
input, button, textarea {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-padding-start: 0;
  align-items: flex-start;
  text-index: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1em;
}

/* inputs appearance (not for every input)  */
input[type=text], input[type=reset], input[type=password], input[type=search], input[type=email], input[type=tel], input[type=url], input[type=time], input[type=week], input[type=month], input[type=date], input[type=datetime], input[type=datetime-local], input[type=number],
input[type=submit], input[type=reset], input[type=color], input[type=file],
button, textarea {
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* input color width */
input[type=color] {
  width: 1em;
}

/* IE clear cross */
input::-ms-clear {
  display: none;
}

/* details and summary */
details, summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* text size adjusting */
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* mark */
mark {
  background: none;
}

/* Font smoothing */
/**,*::before,*::after,*:before,*:after {
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}*/
/* hr */
hr {
  height: 1px;
  margin: 0;
  padding: 0;
}

/* u */
u {
  text-decoration: none;
}

/* th */
table th {
  text-align: left;
}

/* a */
a {
  color: inherit;
  outline: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Singulier Bold";
  src: url("../fonts/Singulier-Bold.otf");
}
@font-face {
  font-family: "Singulier Demi";
  src: url("../fonts/Singulier-Demi.otf");
}
@font-face {
  font-family: "Singulier Thin";
  src: url("../fonts/Singulier-Thin.otf");
}
@font-face {
  font-family: "Singulier Light";
  src: url("../fonts/Singulier-Light.otf");
}
@font-face {
  font-family: "Singulier Regular";
  src: url("../fonts/Singulier-Regular.otf");
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Singulier Regular";
}

.main {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.banner {
  display: flex;
  width: 100%;
  height: 400px;
}

.img-banner {
  flex: 0.8;
  height: 100%;
  object-fit: cover;
}

.content-speed-desc {
  flex: 0.2;
  background: #f8f8f8;
}

.content-name-event {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  font-weight: 800;
  text-align: center;
}

.mt-2 {
  margin-top: 20px;
}

.mt-4 {
  margin-top: 40px;
}

.price {
  font-weight: 800;
  font-size: 20px;
}

.content-name-event, .content-place-event, .content-date-event, .content-genre-event {
  height: 25%;
}

.content-place-event, .content-date-event, .content-genre-event {
  padding-left: 15px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-place-event, .content-genre-event {
  background: #f0f0f0cc;
}

.tab-categorie {
  padding: 10px;
  color: #fff;
  background: #EB606D;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 800;
  display: inline-block;
}

h3 {
  font-weight: 600;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.button-click {
  z-index: 1111;
  bottom: 20px;
  left: 20px;
  font-size: 30px;
}

.content-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  bottom: 0;
  background: #fff;
  z-index: 11;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content-category {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 40%;
}

.title-category {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: -10px;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 20px;
}

.round-color {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  transform: translateY(-50%);
  opacity: 1;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.content-information {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.box {
  padding: 30px;
  flex: 0.48;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 13px 4px rgba(67, 67, 67, 0.04);
  margin-bottom: 50px;
}

.flex {
  display: flex;
}

.map {
  width: 95%;
  height: calc(100vh - 80px);
  position: absolute;
  top: 80px;
  left: 0;
  right: 80px;
}

.hidden {
  transform: translateY(-50%);
  opacity: 0;
}

.space-between {
  justify-content: space-between;
}

.content-img {
  flex: 1;
  margin-bottom: 50px;
}

.long-box {
  padding: 30px;
  flex: 1;
  background: #fff;
  margin: 0px 0 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 13px 4px rgba(67, 67, 67, 0.04);
}

p {
  letter-spacing: 0.4px;
  line-height: 1.4;
  font-weight: 100;
  margin-bottom: 20px;
}

.round-color.green {
  background: #1ee494;
}

.round-color.red {
  background: #fd5959;
}

.round-color.blue {
  background: #29abe2;
}

.round-color.yellow {
  background: #ffc639;
}

.svg-white {
  height: 30px;
}

.gray {
  background: #f9F9F9;
  padding: 50px 0;
}

.title-box {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 15px;
  font-size: 14px;
  color: #ff6b7c;
  font-family: "Singulier Bold";
}

.adress-place {
  padding-top: 10px;
  font-family: "Singulier Demi";
}

.rating-place-gray {
  padding-top: 10px;
  color: #7f7f7f;
}

.rating-place {
  padding-top: 10px;
}

.rating-place-top {
  font-size: 20px;
  font-family: "Singulier Demi";
  padding-top: 14px;
}

.img-responsive {
  width: 100%;
}

.social-network {
  display: flex;
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-place {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.icon-name {
  width: 25px;
}

.box.auto {
  flex: inherit;
  width: 30%;
}

.big-title {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: "Singulier Demi";
  color: #494949cc;
}

div.full {
  width: 100%;
}

.full a {
  font-weight: bold;
  font-size: 15px;
  font-family: "Singulier Regular";
}

.img-event {
  max-width: 400px;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
  z-index: 11111;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}
header .container .header_logo {
  margin: 0% 2% 0% 2%;
  display: flex;
  justify-items: center;
  align-items: space-between;
}
header .container .header_logo .header_logo_img {
  width: 50px;
  height: 100%;
}
header .container .header_search:focus-within {
  /*box-shadow: 0 2px 4px $shadow-grey-dark;*/
}
header .container .header_search {
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  background-color: #ebebeb;
  height: 48px;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 30px;
}
header .container .header_search svg {
  width: 12% !important;
  color: #484848;
}
header .container .header_search input {
  width: 80% !important;
  background-color: #ebebeb;
}
header .container .header_search input ::placeholder {
  color: #686868;
  font-weight: 700;
}
header .container .header_nav {
  color: black;
  font-size: 15px;
  font-weight: 500;
  margin: 0% 2% 0% 2%;
}
header .container .header_nav ul {
  display: flex;
  justify-content: space-between;
}
header .container .header_nav ul li.active {
  background: #EB606D;
  color: #fff;
}
header .container .header_nav ul li.active a {
  font-family: "Singulier Demi";
}
header .container .header_nav ul li {
  padding: 12px 5px;
  margin: 0px 5px 0;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
}
header .container .header_nav ul li:hover {
  background: #EB606D;
  color: #fff;
}
header .container .header_nav ul li a {
  text-decoration: none;
  padding: 15px 15px;
  font-size: 16px;
  font-family: "Singulier Regular";
}

.arrow {
  box-sizing: border-box;
  height: 1vw;
  width: 1vw;
  border-style: solid;
  border-color: black;
  border-width: 0px 2px 2px 0px;
  border-radius: 0px 0px 2px 0px;
  transform: rotate(45deg);
  transition: all linear;
  animation: menuMove 0.5s ease-in-out infinite alternate;
  position: absolute;
}

@keyframes menuMove {
  from {
    transform: translateY(-10px) rotate(45deg);
  }
  to {
    transform: translateY(-8px) rotate(45deg);
  }
}
.hidden {
  display: none !important;
}

.loader_container {
  display: none;
}

.loader_display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 300px;
  margin: auto;
}

.pagination_container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.main_search_background {
  background: url("../images/background_advanced_filtrers.jpg") no-repeat;
  background-size: cover;
  min-height: 300px;
  height: 30%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main_search_background .search_select_all {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 10px;
  width: 100%;
}
.main_search_background .search_select_all .search_select-hidden {
  display: none;
  color: #ffffff;
}
.main_search_background .search_select_all .search_select-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 40px;
  background: #ffffff;
  color: black;
  border-radius: 15px;
  border: 1px solid #EBEBEB;
}
.main_search_background .search_select_all .search_select-block form {
  display: flex;
}
.main_search_background .search_select_all .search_select-block .select-submit {
  color: #EB606D;
}
.main_search_background .search_select_all .search_select-block form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 50%;
  border-bottom: 1px solid #EBEBEB;
}

.main_search {
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 15px;
}
.main_search .main_search_event {
  border-bottom: 1px solid #EBEBEB;
  border-radius: 15px 15px 0px 0px;
  background-color: #ffffff;
  height: 48px;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 80px;
}
.main_search .main_search_event input {
  width: 88% !important;
  background-color: #ffffff;
  font-size: 1.5rem;
  padding: 20px;
  padding-left: 10px;
}
.main_search .main_search_event input ::placeholder {
  color: #686868;
  font-weight: 700;
}
.main_search .main_search_event svg {
  margin-left: 10px;
  width: 5% !important;
  color: #484848;
}
.main_search .search_filter_container {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}
.main_search .search_filter_container .search_filter {
  width: 100%;
  display: flex;
  align-items: center;
  border-right: 0.5px solid #EBEBEB;
}
.main_search .search_filter_container .search_filter_type {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
}
.main_search .search_filter_container .search_filter_type .search_filter_emoji {
  font-size: 20px;
  margin-left: 10%;
  margin-right: 5%;
}
.main_search .search_filter_container .search_filter:last-of-type {
  border-right: 0px solid #EB606D;
}

.submit-genre, .submit-country, .submit-date {
  padding: 10px;
  background: #EB606D;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.search_filter_country {
  width: 145px;
}

.display_filters .filter {
  background: #EB606D;
  color: #ffffff;
  padding: 15px;
  border-radius: 3px;
}

.center-title-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
}

p.filter {
  margin-bottom: 0;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.event_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}
.event_container .event_card {
  border: 1px solid #EBEBEB;
  width: 472px;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 2px;
}
.event_container .event_card p {
  text-align: left;
  line-height: 1;
  margin-bottom: 0px;
}
.event_container .event_card .card_first_part img {
  object-fit: cover;
  height: 150px;
  width: 100%;
}
.event_container .event_card .card_second_part {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  border-bottom: 1px solid #EBEBEB;
}
.event_container .event_card .card_second_part .card_date_hours {
  margin-bottom: 5px;
}
.event_container .event_card .card_second_part .card_date_grey {
  color: grey;
  font-size: 0.8rem;
}
.event_container .event_card .card_second_part .card_price {
  display: flex;
  justify-content: center;
  align-items: center;
}
.event_container .event_card .card_second_part .card_price .card_price_grey {
  color: grey;
  font-weight: 600;
}
.event_container .event_card .card_third_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
.event_container .event_card .card_third_part .card_info {
  width: 65%;
}
.event_container .event_card .card_third_part .card_info .card_name {
  color: #EB606D;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.event_container .event_card .card_third_part .card_info .card_location {
  font-size: 0.8rem;
  color: grey;
  font-weight: 600;
}

.card_checkout {
  background-color: #EB606D;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  height: 100%;
  width: 100px;
  height: 40px;
  font-family: "Singulier Demi";
}
.card_checkout a {
  text-decoration: none;
  color: #ffffff;
  padding-right: 10px;
  padding-left: 10px;
}

@media screen and (max-width: 1200px) {
  .event_container {
    justify-content: space-around;
  }
}
@media screen and (max-width: 900px) {
  .arrow_container {
    display: none;
  }
  .arrow_container .arrow {
    display: none;
  }

  .search_filter_container .search_filter {
    flex-direction: column;
  }
  .search_filter_container .search_filter .search_filter_type {
    flex-direction: column;
    justify-content: space-around;
  }
  .search_filter_container .search_filter .search_filter_type .search_filter_emoji {
    font-size: 20px;
    margin: 0 auto;
    animation: menuMove 0.5s ease-in-out infinite alternate;
  }
  @keyframes menuMove {
    from {
      transform: translateY(8px);
    }
    to {
      transform: translateY(6px);
    }
  }
  .search_filter_container .search_filter .search_filter_type p {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 2%;
  }
}
.content-banner-home {
  flex: 0.5;
  margin-top: 40px;
}

.img-banner-home {
  width: 100%;
}

.center-all {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0.5;
  margin-top: 200px;
}
.center-all > div {
  width: 70%;
}

h1 {
  color: #EB606D;
  font-size: 60px;
  font-family: "Singulier Bold";
  letter-spacing: -0.3px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

p.home {
  line-height: 1.7;
  letter-spacing: 0.5px;
}

.first-button {
  background: #EB606D;
  margin-top: 20px;
  padding: 15px 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 11px #00000033;
  font-family: "Singulier Demi";
}
.first-button a {
  color: #FFF;
  text-decoration: none;
}

.second-button {
  color: #5a5a5a;
  margin-top: 20px;
  padding: 18px 10px 0 30px;
  font-family: "Singulier Demi";
}
.second-button a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
