// color variable
$main-color: #EB606D;
$white: #ffffff;
$bottom-grey: rgb(228, 228, 228);
$font-grey:#484848;
$grey: #686868;
$shadow-grey: rgba(0,0,0,0.1);
$shadow-grey-dark: rgba(0,0,0,0.4);
$black: black;

$border: #EBEBEB;

body {
    font-family: sans-serif;
    padding:0;
    margin:0;
}

.marker {
    background-color: red;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }