// color variable
$main-color: #EB606D;
$white: #ffffff;
$bottom-grey: rgb(228, 228, 228);
$font-grey:#484848;
$grey: #686868;
$shadow-grey: rgba(0,0,0,0.1);
$shadow-grey-dark: rgba(0,0,0,0.4);
$black: black;

$border: #EBEBEB;

body {
    font-family: sans-serif;
<<<<<<< HEAD
}
.main {
    width: 100vw;
    height: 100vh;
=======
    padding:0;
    margin:0;
>>>>>>> 0355b5829e8ee0a5a8cde8f83f31516ae91a1a2d
}