.arrow {
    box-sizing: border-box;
    height: 1vw;
    width: 1vw;
    border-style: solid;
    border-color: $black;
    border-width: 0px 2px 2px 0px;
    border-radius: 0px 0px 2px 0px;
    transform: rotate(45deg);
    transition: all linear;
    animation: menuMove 0.5s ease-in-out infinite alternate;
    position: absolute;

}
@keyframes menuMove {
    from {
        transform: translateY(-10px) rotate(45deg);
    }
  
    to {
        transform: translateY(-8px) rotate(45deg);

    }
}
.main_search_background {
    background: url("../images/background_advanced_filtrers.jpg") no-repeat;
    background-size: cover;
    min-height: 300px;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .search_select_all {
        
        .search_select-hidden {
            display: none;
        }
        .search_select-block {
            position: absolute;
            bottom: -50px;
            display: block !important;
            height: 80px;
            background: $white;
            border-radius: 3px;
            border: 1px solid $border;
    
        }
    }
}
.main_search {
    width: 90%;
    margin: 0 auto;
    background-color: $white;
    border-radius: 15px;


    .main_search_event {
        border-bottom: 1px solid $border;
        border-radius: 15px 15px 0px 0px;
        background-color: $white;
        height: 48px;
        display: flex;
        justify-items: center;
        align-items: center;
        height: 80px;


        input {
            width: 88% !important;
            background-color: $white;
            font-size: 1.5rem;
            padding: 20px;
            padding-left: 10px;

            ::placeholder {
                color: $grey;
                font-weight: 700;

            }

        }
        svg {
            margin-left: 10px;
            width: 5% !important;
            color: $font-grey;
    
        }

    }
    .main_search_container {
        display: flex;  
        justify-content: space-around;
        max-width: 100%;
        
        .search_filter {
            width: 100%;
            display: flex;
            align-items: center;
            border-right: 0.5px solid $border;    

        }

        .search_filter_container {
            display: flex;
            align-items: center;
            height: 80px;
            width: 80%;
            
            .search_filter_emoji {
                font-size: 20px;
                margin-left: 10%;
                margin-right: 5%;
                

            }
            p {
                font-size: 1rem;
                
            }
        }      
        .search_filter:last-of-type {
            border-right: 0px solid $main-color;    

        }

    }

}
@media screen and (max-width: 900px) {

    .arrow_container {
        display: none;

        .arrow {
           display: none;

        }
    }
    .main_search_container 
    {

        .search_filter {
            flex-direction: column;
            
            .search_filter_container {
                flex-direction: column;
                justify-content: space-around;


                .search_filter_emoji {
                    font-size: 20px;
                    margin: 0 auto;
                    animation: menuMove 0.5s ease-in-out infinite alternate;

                }
                @keyframes menuMove {
                    from {
                        transform: translateY(8px) rotate(45deg);
                    }
                  
                    to {
                        transform: translateY(6px) rotate(45deg);
                
                    }
                }
                p {
                    text-align: center;
                    font-size: 0.8rem;
                    margin-bottom: 2%;
                }
            }

            
        }

    }
}
